---
import Layout from '../layouts/Layout.astro';
import HeroSeda from '../components/HeroSeda.astro';
import CountdownSectionSeda from '../components/CountdownSectionSeda.astro';
import OurParentsSeda from '../components/OurParentsSeda.astro';
import PhraseSeda from '../components/PhraseSeda.astro';
import LocationSectionSeda from '../components/LocationSectionSeda.astro';
import ItinerarySectionSeda from '../components/ItinerarySectionSeda.astro';
import GiftSectionSeda from '../components/GiftSectionSeda.astro';
import LodgingSection from '../components/LodgingSection.astro';
import DressCodeSectionSeda from '../components/DressCodeSectionSeda.astro';
import PhotoShareSeda from '../components/PhotoShareSeda.astro';
import AdultsOnlySeda from '../components/AdultsOnlySeda.astro';
import ConfirmationSeda from '../components/ConfirmationSeda.astro';
import FooterSeda from '../components/FooterSeda.astro';
---

<Layout>
    <img class="main-bg" src="imgs/bg-dirty.avif" alt="">        
    <main>
        <HeroSeda />
        <CountdownSectionSeda/>
        <OurParentsSeda />
        <PhraseSeda />
        <LocationSectionSeda />
        <ItinerarySectionSeda />
        <GiftSectionSeda />
        <LodgingSection />
        <DressCodeSectionSeda />
        <PhotoShareSeda />
        <ConfirmationSeda />
        <FooterSeda />
    </main>
</Layout>

<style is:global>
    main {
        width: 100%;
        min-height: 100%;
        max-width: 48rem;
        margin: 0 auto;
        overflow: hidden;
    }
    .main-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
</style>
