

<article class="adults-container">
    <h2 class="adults-title">Solo Adultos</h2>
    <div class="adults-bar"></div>
    <p class="adults-text">
        "Queremos mucho a sus <br>
        pequeños, pero hoy solo <br>
        queremos que ustedes se <br>
        concentren en disfrutar al<br>
        máximo."
    </p>
</article>

<style>
    .adults-container {
        width: 100%;
        padding: 0 0 3rem;
        text-align: center;
        background-color: transparent;
        position: relative;
        z-index: 0;

        .adults-title {
            font-family: 'Salty';
            font-size: calc(4rem + 1vw);
            line-height: calc(3rem + 1vw);
            font-weight: 300;
            color: var(--black);
            margin: 0 auto;
        }

        .adults-bar {
            height: 1px;
            width: 60%;
            margin: 1rem auto;
            background-color: var(--gray);
        }

        .adults-text {
            margin: 0 auto;
            font-family: 'Cormorant';
            font-size: calc(0.875rem + 1vw);
            line-height: calc(1.5rem + 2vw);
            color: var(--black);
            max-width: 20rem;
        }
    }
</style>