


<section>
    <img class="dress-plant" src="/assets/dress-plant.png" alt="">
    <img class="dress-pic" src="/assets/dress.png" alt="">
    <h2 class="dress-title">Dress Code</h2>
    <div class="dress-bar"></div>
    <h3 class="formal">FORMAL</h3>
    <p class="dress-text">Prohibido opacar a la novia</p>
</section>

<style>
    section {
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;

        .dress-plant {
            width: 15%;
            margin: 0 auto;
            height: auto;
        }

        .dress-pic {
            width: 35%;
            height: auto;
            margin: 0 auto;
        }

        .dress-title {
            margin: 0;
            font-family: "Salty";
            font-size: calc(4rem + 1vw);
            font-weight: 300;
        }

        .dress-bar {
            height: 1px;
            width: 60%;
            margin: 0 auto;
            background-color: var(--gray);
        }

        .formal {
            margin: 0;
            font-family: 'Cormorant';
            font-weight: 300;
            font-size: calc(1.25rem + 1vw);
        }

        .dress-text {
            margin: 0;
            font-family: 'Cormorant';
            font-weight: 300;
            font-size: calc(.875rem + 1vw);
        }

    }
</style>