---

---

<footer>
    <picture class="footer-pic-container">
        <img src="/imgs/hands.avif" alt="">
    </picture>

    <h2 class="footer-title">Made with ❤️ by <a href="#" target="_blank" rel="noopener noreferrer">Alpes</a></h2>
</footer>

<style>
    footer {
        width: 100%;
        text-align: center;

        .footer-pic-container {
            width: 100%;
            display: block;
            height: auto;
            overflow: hidden;
            position: relative;
            z-index: 5;

            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
                object-position: top;
                display: block;
            }
        }

        .footer-title {
            margin: 0 auto;
            padding: 2rem 0;
            font-family: 'Bebas Reg';
            color: var(--gray);
            letter-spacing: 1px;
            font-weight: 300;
            
            a {
                color: var(--gray);
                text-decoration: unset;
                letter-spacing: 1px;

            }
        }
    }
</style>