---
import MusicControl from "./MusicControl.astro";


---

<header>
    <div class="main-container">
        <div class="pics">
            <img class="plant" src="assets/plant-left.avif" alt="">
            <picture class="logo-container">
                <svg class="logo" data-bbox="128.513 136.393 553.903 539.103" height="1080" viewBox="128.513 136.393 553.903 539.103" width="1080" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true" aria-label="">
                    <g>
                        <defs>
                            <clipPath id="7c32cd63-5711-4033-977b-57818cee6e18_comp-m7ks0cjd">
                                <path d="M128 136h554.473v539.508H128Zm0 0"></path>
                            </clipPath>
                            <clipPath id="aa50613d-3747-47b0-accc-d365346a9e14_comp-m7ks0cjd">
                                <path d="M343 303h112v211H343Zm0 0"></path>
                            </clipPath>
                            <clipPath id="72532285-a745-4d69-b5ed-f37303d356ea_comp-m7ks0cjd">
                                <path d="m294.855 319.07 161.786-42.394 56.464 215.472-161.789 42.395Zm0 0"></path>
                            </clipPath>
                            <clipPath id="124be649-363f-4f2f-ba48-b25cfd493cf3_comp-m7ks0cjd">
                                <path d="m294.5 319.066 163.238-42.777 56.844 216.926-163.238 42.777Zm0 0"></path>
                            </clipPath>
                            <clipPath id="afe11a9c-7b4b-429d-bc54-eff784fdfd66_comp-m7ks0cjd">
                                <path d="m53.156 238.797 509.305-133.461L695.92 614.64 186.618 748.1Zm0 0"></path>
                            </clipPath>
                            <clipPath id="3a773086-5db5-48fa-8654-8aaf43632960_comp-m7ks0cjd">
                                <path d="m232.91 278.574 235.176-61.625 90.828 346.61-235.176 61.625Zm0 0"></path>
                            </clipPath>
                            <clipPath id="a12255bb-f727-4b3f-b1f6-b285bb286e07_comp-m7ks0cjd">
                                <path d="M387 382h3v2h-3Zm0 0"></path>
                            </clipPath>
                            <clipPath id="d6bf6099-64c4-4200-9651-d23c841b8629_comp-m7ks0cjd">
                                <path d="m294.855 319.07 161.786-42.394 56.464 215.472-161.789 42.395Zm0 0"></path>
                            </clipPath>
                            <clipPath id="3fd43732-d6f5-4a17-b20c-381dafec034b_comp-m7ks0cjd">
                                <path d="m294.5 319.066 163.238-42.777 56.844 216.926-163.238 42.777Zm0 0"></path>
                            </clipPath>
                            <clipPath id="ad928a65-a8c4-4898-80a1-9cf1ddde48fd_comp-m7ks0cjd">
                                <path d="m53.156 238.797 509.305-133.461L695.92 614.64 186.618 748.1Zm0 0"></path>
                            </clipPath>
                            <clipPath id="b4cc3c3e-d372-490a-9547-d363d1e43cde_comp-m7ks0cjd">
                                <path d="m232.91 278.574 235.176-61.625 90.828 346.61-235.176 61.625Zm0 0"></path>
                            </clipPath>
                        </defs>
                        <g clip-path="url(#7c32cd63-5711-4033-977b-57818cee6e18_comp-m7ks0cjd)">
                            <path d="M128.605 438.746c.95-4.445 11.051 1.203 12.954 2.121a48 48 0 0 1 5.41 3.063 265 265 0 0 1-.617-6.805c-.032 0-.067.004-.102.004a3.262 3.262 0 0 1-.316-6.508 256.4 256.4 0 0 1 2.898-53.848 258.4 258.4 0 0 1 12.512-48.027c5.687-15.566 12.945-30.55 21.554-44.719a254 254 0 0 1 13.957-20.578 255 255 0 0 1 15.903-19.129 255 255 0 0 1 37.039-33.183c26.797-19.633 57.52-33.965 89.867-41.723a250 250 0 0 1 49.348-6.746c16.62-.621 33.293.469 49.703 3.117a254 254 0 0 1 17.848 3.57c6.656.965 13.125 2.305 19.765 4.364 2.871.89 5.707 1.902 8.516 2.969 14.793-1.282 28.07-4.786 40.976-12.336-.015-.09-.047-.165-.043-.262 1.145-17.082 15.176-29.328 32.29-27.52 1.128.121 1.257 1.489.73 2.227-5.629 7.86-12.438 14.89-20.402 20.285 14.632-2.387 28.992 5.93 32.902 22 .316 1.3-.875 2.336-2.117 1.813-13.051-5.5-27.242-10.125-39.637-17.024-11.766 7.32-25.695 12.172-39.68 12.793a158 158 0 0 1 16.828 8.324 249 249 0 0 1 11.2 5.672c20.226 1.742 40.933 7.34 60.285 13.012 10.765-10.613 26.484-13.649 40.988-10.383.988.219 1.402 1.434.723 2.195-7.649 8.63-19.723 13.922-31.32 12.895 9.136 6.676 15.59 16.078 18.624 27.398.309 1.157-.894 2.438-2.062 1.77-12.277-7.027-24.879-15.75-27.328-30.613-16.883-4.614-34.004-7.61-51.028-11.254 1.575.93 3.137 1.87 4.684 2.836 21.965 13.644 41.785 30.675 58.645 50.246 7.652 1.398 14.73 5.765 18.843 12.742a1.338 1.338 0 0 1-1.047 2.031c-1.914.18-3.84.285-5.765.313q.81 1.095 1.61 2.203c19.425 26.887 33.57 57.574 41.316 89.84a251 251 0 0 1 4.62 24.441 252 252 0 0 1 2.223 24.785 256 256 0 0 1-2.87 49.645 256 256 0 0 1-12.415 48.191 253 253 0 0 1-9.691 22.961 252 252 0 0 1-11.93 21.89c-8.66 14.196-18.758 27.516-30.047 39.731a255 255 0 0 1-37.242 33.102 255.6 255.6 0 0 1-42.98 25.222 254 254 0 0 1-47.082 16.371c-21.946 5.301-44.61 7.551-67.176 6.81 6.031.948 12.097 1.694 18.183 2.175 7.121.578 14.262.867 21.407.87 7.144 0 14.285-.339 21.402-.94 14.238-1.184 28.363-3.665 42.195-7.254a242 242 0 0 0 20.477-6.313 256 256 0 0 0 19.87-8.031c6.513-2.942 12.88-6.211 19.11-9.711a259 259 0 0 0 18.223-11.297c23.64-16.09 44.547-36.207 61.508-59.258 8.508-11.5 15.988-23.761 22.414-36.55 1.62-3.188 3.129-6.434 4.617-9.688l2.152-4.918 2.035-4.965a256 256 0 0 0 7.086-20.262c4.184-13.691 7.094-27.761 8.887-41.968l.613-5.332.485-5.348c.09-.89.137-1.785.195-2.68l.176-2.68c.047-.894.129-1.785.156-2.68l.106-2.683c.277-7.152.28-14.32-.043-21.472-1.301-28.61-7.395-57.032-18.215-83.57a252.7 252.7 0 0 0-23.246-44.145 4.991 4.991 0 0 1-5.66-8.223 247 247 0 0 0-5.075-6.828 4.08 4.08 0 0 1-2.543.887 4.114 4.114 0 0 1-2.578-7.32 245 245 0 0 0-4.117-4.883 3.263 3.263 0 1 1-1.816-5.969 3.26 3.26 0 0 1 3.257 3.262 3.25 3.25 0 0 1-1.433 2.703q2.09 2.409 4.129 4.87a4.1 4.1 0 0 1 2.558-.898c2.27 0 4.11 1.844 4.11 4.118a4.11 4.11 0 0 1-1.532 3.203 255 255 0 0 1 5.09 6.816 4.95 4.95 0 0 1 2.832-.887 4.995 4.995 0 0 1 2.852 9.094 253 253 0 0 1 23.367 44.117c10.895 26.54 17.063 54.977 18.438 83.63.343 7.163.355 14.343.093 21.511l-.097 2.687c-.024.899-.102 1.793-.153 2.688l-.164 2.684c-.058.898-.105 1.793-.195 2.683l-.469 5.363-.601 5.344c-1.762 14.238-4.645 28.352-8.805 42.086a258 258 0 0 1-7.055 20.332l-2.03 4.985-2.15 4.933c-1.48 3.27-2.988 6.524-4.605 9.73-6.41 12.84-13.883 25.157-22.394 36.715-16.957 23.168-37.891 43.41-61.59 59.63a260 260 0 0 1-18.274 11.386c-6.25 3.531-12.636 6.828-19.172 9.8a257 257 0 0 1-19.945 8.118c-6.758 2.426-13.617 4.578-20.562 6.395-13.891 3.644-28.082 6.171-42.395 7.398-7.156.617-14.336.977-21.52.996-7.18.012-14.363-.262-21.527-.824-7.16-.547-14.293-1.457-21.383-2.637a250 250 0 0 1-9.27-1.722 255 255 0 0 1-19.386-2.344c-32.86-5.293-64.703-17.016-92.988-34.57-25.227-15.575-47.586-35.708-65.832-59.024-6.414.379-12.281-2.223-14.2-10.203-.117-.485.075-1.078.614-1.219 1.469-.387 2.98-.7 4.512-.926a255.7 255.7 0 0 1-22.317-39.457 255 255 0 0 1-14.187-39.804c-2.867-2.008-5.196-4.996-6.528-8.922-.222-.656.274-1.5 1.012-1.48 1 .023 2.008.07 3.016.144a250 250 0 0 1-2.914-15.418c-3.246-.856-6.352-2.223-9.157-4.192-3.41-2.394-11.992-9.093-10.918-14.152m260.497-273.64a252 252 0 0 0-48.875 6.671 252 252 0 0 0-23.72 6.88 251 251 0 0 0-22.952 9.144c-14.985 6.851-29.332 15.133-42.735 24.75-26.816 19.219-49.902 43.73-67.324 71.844-8.734 14.039-16.023 28.98-21.8 44.48-5.77 15.508-9.973 31.598-12.594 47.941-2.579 16.348-3.602 32.942-2.954 49.477q.09 2.16.215 4.32a3.25 3.25 0 0 1 3.145 3.254 3.254 3.254 0 0 1-2.692 3.207q.3 3.616.7 7.219c3.125 2.102 6.05 4.602 8.511 7.422-1.882-7.895-1.316-16.13 2.028-23.73.285-.653 1.39-.778 1.742-.11 4.394 8.402 5.648 20.074.363 28.453.031.059.078.098.102.168 2.453 6.586 6.535 12.102 11.086 17.281-1.602-6.507.125-13.632 5.238-18.496.27-.254.644-.336.96-.242l-.073-.562a264 264 0 0 1-1.848-21.512l-.11-2.7c-.027-.898-.081-1.796-.081-2.699l-.079-5.398c.028-3.598.047-7.2.215-10.797.29-7.195.848-14.379 1.739-21.527a262 262 0 0 1 3.586-21.301l.57-2.637.285-1.32c.098-.441.21-.879.316-1.316l1.278-5.247 1.406-5.218c.48-1.735 1.012-3.457 1.516-5.184a259 259 0 0 1 7.148-20.387c.684-1.664 1.344-3.34 2.05-4.996l2.157-4.953 2.277-4.902c.372-.82.782-1.621 1.18-2.43l1.2-2.418a259 259 0 0 1 10.507-18.879l1.426-2.297c.48-.761.941-1.535 1.445-2.28l2.965-4.52 3.07-4.442c1.036-1.476 2.114-2.918 3.164-4.383a260 260 0 0 1 13.551-16.828c9.48-10.855 19.922-20.86 31.106-29.949 5.593-4.539 11.367-8.863 17.332-12.91a260 260 0 0 1 18.375-11.371 256 256 0 0 1 19.27-9.797 257 257 0 0 1 20.046-8.086c25.887-9.246 53.305-14.086 80.781-14.578 1.293-.031 2.536-.043 3.743-.043q.158.001.312-.004v.008q1.757.005 3.426.054a256 256 0 0 0-43.695-2.125M189.91 495.452a95.8 95.8 0 0 1 2.863-19.683 15.93 15.93 0 0 1-10.277-4.743c.281 1.414.566 2.832.871 4.243.38 1.742.735 3.492 1.176 5.222l.629 2.598c.21.867.414 1.738.656 2.598l1.39 5.164.255.859a38 38 0 0 1 2.437 3.742m-.219 3.55q.076.241.157.481c0-.09-.004-.187-.004-.277-.051-.066-.102-.137-.153-.203m-6.011-12.753c-.246-.867-.453-1.746-.668-2.617l-.64-2.621c-.45-1.746-.813-3.508-1.2-5.266a263 263 0 0 1-1.227-5.992c-.218 3.683-1.027 7.3-2.582 10.55l.703.743c1.903 2.02 3.965 4.137 5.934 6.379Zm386.46-254.664a250.4 250.4 0 0 0-48.5-35.027l-.058-.012a166 166 0 0 1 5.64 4.226c17.704 13.844 32.637 32.653 42.805 53.559 5.582-3.434 12.22-4.637 18.57-3.805a254 254 0 0 0-18.456-18.941M408.153 668.094a252 252 0 0 0 48.836-6.637 251 251 0 0 0 46.606-16.062 253 253 0 0 0 42.605-24.844 254 254 0 0 0 36.98-32.664 253 253 0 0 0 29.95-39.23 252 252 0 0 0 21.738-44.352c5.774-15.453 10.016-31.485 12.692-47.778 5.308-32.586 4.273-66.254-3.399-98.422-3.797-16.085-9.238-31.78-16.133-46.804-6.89-15.024-15.304-29.348-25-42.73q-.99-1.365-2.004-2.72c-10.203-.03-20.37-2.335-29.144-7.593 5.906 13.05 9.937 26.836 11.648 40.676 13.485-5.477 28.192-4.954 40.18 3.972.691.516.43 1.871-.437 2.04-10.391 2.023-23.383 4.921-33.649.648 9.192 11.129 12.723 26.027 8.766 40.254-.34 1.214-1.563 1.511-2.535.832-12.735-8.868-15.422-23.008-14.364-37.16-3.699 8.14-7.558 16.527-13.648 22.824-.754.777-2.242.601-2.55-.551-3.04-11.379 2.597-30.715 16.608-31.598-2.394-11.785-5.738-23.09-10.12-33.824.081 9.883-1.919 19.531-5.966 28.742-.457 1.043-2.105 1.145-2.667.14-6.82-12.179-6.235-28.452 4.41-38.327-9.508-19.723-22.809-37.301-40.54-52.051-15.042-12.512-32.824-21.594-51.484-27.273-8.27-2.516-16.742-4.247-25.293-5.457-7.304-1.036-13.754-1.579-21.508-1.715-10.668.027-21.335.73-31.925 2.105a75 75 0 0 0 8.023 10.461c.79-2.367 4.426-4.414 6.39-5.453 5.634-2.988 12.415-3.332 18.262-.871.52.219.653.95.188 1.305-6.348 4.804-13.531 7.625-21.356 8.562a76.4 76.4 0 0 0 10.633 8.453c.371.246.746.477 1.121.711 2.457-3.543 5.711-5.95 9.938-7.168 3.238-.933 9.086-1.097 11.703 1.426.211.203.367.508.223.805-1.66 3.464-6.715 5.59-10.153 6.617-2.308.691-4.808.941-7.257.742l.77.555c3.233 1.668 6.581 3.11 9.976 4.406 5.156 1.973 10.597 2.906 15.808 4.629 2.488-9.14 11.145-15.113 20.625-13.715.461.07.856.586.63 1.05-3.165 6.466-7.934 13.821-15.138 14.415 9.676 4.476 17.153 14.215 19.274 24.465.117.57-.555 1.132-1.09.863-9.664-4.816-25.156-12.953-24.488-25.914-6.5-.363-13.207-2.41-19.508-5.184 4.7 4.403 8.691 9.524 11.781 15.297.235.438-.219 1.055-.71.957-5.97-1.215-11.684-3.875-16.036-8.23-3.492-3.5-8.316-8.914-6.992-14.27-.098-.058-.2-.113-.297-.176a70 70 0 0 1-11.457-8.675c.023 1.226-.195 2.515-.34 4.004-.223 2.226-.613 4.43-1.066 6.62-.223 1.087-.282 1.91-1.325 2.368-.207.094-.539.086-.71-.086-1.454-1.434-2.196-3.676-2.993-5.52-.804-1.867-1.867-4.27-1.714-6.355.183-2.54 1.55-5.156 3.972-5.238a76.7 76.7 0 0 1-8.722-11.586c-16.743 2.308-33.254 6.297-49.18 11.941a256 256 0 0 0-19.82 7.938 251 251 0 0 0-19.06 9.632 257 257 0 0 0-18.187 11.192 252 252 0 0 0-17.164 12.719c-11.074 8.957-21.425 18.824-30.828 29.535a256 256 0 0 0-13.437 16.617c-1.047 1.441-2.117 2.867-3.145 4.324l-3.047 4.39-2.945 4.462c-.5.738-.957 1.504-1.434 2.254l-1.418 2.265c-14.98 24.258-25.792 51.094-31.75 78.988a259 259 0 0 0-3.601 21.086c-.899 7.075-1.469 14.192-1.774 21.317-.175 3.562-.203 7.133-.238 10.7l.063 5.347c0 .894.05 1.781.078 2.675l.097 2.672a262 262 0 0 0 1.532 19.22c.812-1.095 1.933-1.493 3.129.1 2.683 3.587 4.672 8.028 6.914 11.907 1.488 2.566 2.968 5.098 4.308 7.723a101.4 101.4 0 0 1 5.102-13.551c2.156-4.688 4.55-9.27 6.828-13.871-14.164 8.285-25.441-19.246-25.02-29.848.028-.691.942-1.402 1.532-.738 7.945 8.969 16.488 17.383 24.492 26.285a1.33 1.33 0 0 1 1.2-.277c3.85-8.239 6.964-16.688 7.421-26.079-14.621 1.207-24.207-11.253-29.809-23.382-.336-.727.477-1.328 1.121-1.25 9.59 1.18 19.336 6.156 25.172 14.03a152 152 0 0 1-4.636-19.82c-1.211-7.378-1.227-14.984 3.324-21.226.375-.52 1.316-.441 1.625.106 6.933 12.175 9.808 26.73 7.43 40.554 3.19-5.789 7.328-10.851 12.77-15.113.562-.438 1.628-.117 1.776.61 2.172 10.632-5.355 25.027-17.308 25.363.008 8.277-2.403 16.117-5.617 23.664 4.207-3.465 9.183-6.371 13.422-9.442.898-.652 1.972.262 1.828 1.238-.871 5.875-2.45 11.254-7.477 14.86-3.281 2.351-7.637 1.976-10.633-.34a432 432 0 0 1-2.844 5.832c-3.93 7.969-7.312 15.89-9.69 24.102q.226.058.39.199c3.129-1.004 6.488-1.34 9.695-2.082 4.469-1.031 8.84-2.395 13.156-3.938 1.09-.39 1.88.782 1.496 1.735-2.597 6.48-6.113 12.492-13.257 14.398-5.446 1.453-9.915-2.105-12.5-6.523-1.493 6.023-2.418 12.23-2.579 18.754a96 96 0 0 0 .442 11.785 264 264 0 0 0 3.172 8.316c.394.977.793 1.945 1.195 2.918 1.777-6.832 5.434-13.137 10.793-18.05.742-.68 1.77-.325 1.926.671 1.574 10.02-2.258 19.977-7.836 28.356.89 1.879 1.805 3.75 2.746 5.601a259 259 0 0 0 10.766 19.145c.503-8.371 2.511-16.594 9.414-21.88.433-.331 1.093-.058 1.257.434 3.457 10.582 1.66 21.817-4.82 30.454a248 248 0 0 0 5.852 8.242 257 257 0 0 0 28.285 32.09 257.4 257.4 0 0 0 33.289 26.875 255 255 0 0 0 37.351 20.863c13.016 5.875 26.54 10.613 40.36 14.219q.265.064.531.132c13.637 1.727 27.414 2.372 41.156 1.864m-209.2-133.875c4 10.61 9.617 20.636 16.402 29.824a150 150 0 0 1-.02-5.64 259 259 0 0 1-14.757-26.356 65 65 0 0 1-1.625 2.172m19.09 33.34c5.598 7.097 11.89 13.648 18.648 19.53a261 261 0 0 1-11.113-13.855 243 243 0 0 1-5.574-7.789q-.925 1.086-1.961 2.114m-23.867-49.91a105 105 0 0 0 1.824 7.59q.112-1.265.313-2.512a263 263 0 0 1-2.137-5.079m33.347 83.769a251 251 0 0 0 18.97 15.828 250 250 0 0 0 20.398 13.91 252 252 0 0 0 44.37 21.496 253 253 0 0 0 43.2 11.672 254 254 0 0 1-29.05-10.922 257 257 0 0 1-37.657-20.914A259 259 0 0 1 254.16 605.5a233 233 0 0 1-3.855-3.758c-1.453-.902-5.95-3.898-14.7-11.336a1.8 1.8 0 0 1-.445-.289c-7.45-6.543-14.27-13.75-20.242-21.531-3.57 2.648-8.313 4.793-12.977 5.543a257 257 0 0 0 25.582 27.289m-34.953-39.645c6.618-.683 13.54.16 19.512 3.004-6.469-9.054-11.777-18.836-15.59-29.218-4.105 2.289-8.226 3.691-12.52.617-4.964-3.555-9.867-8.63-9.456-15.145.035-.566.511-1.207 1.168-1 6.515 2.07 13.972 5.535 19.144 10.637a107.3 107.3 0 0 1-4.648-23.453 265 265 0 0 1-3.54-10.586l-.757-2.535c-3.375-4.274-6.836-8.406-10.586-12.457-6.215 4.914-14.172 5.355-20.172 1.785 7.82 28.05 20.602 54.672 37.445 78.351m-40.218-89.203c6.554.535 13.238 2.086 19.128 5.047-5.496-5.781-10.378-11.933-13.355-19.402-2.973.035-5.945-.27-8.812-.965a246 246 0 0 0 3.039 15.32m71.742-123.695a3.26 3.26 0 1 0-6.52 0 3.26 3.26 0 1 0 6.52 0m4.656 103.895a3.26 3.26 0 1 0-6.52 0c0 1.8 1.461 3.261 3.262 3.261s3.258-1.457 3.258-3.261m-11.648 126.843a3.26 3.26 0 0 0-3.258 3.262 3.26 3.26 0 1 0 6.52 0c0-1.8-1.462-3.262-3.262-3.262M150.676 501.5a3.26 3.26 0 1 0 6.52 0 3.26 3.26 0 1 0-6.52 0m48.426-124.238A3.263 3.263 0 0 0 195.84 374a3.257 3.257 0 0 0-3.258 3.262 3.26 3.26 0 1 0 6.52 0m20.18 149.586a3.26 3.26 0 1 0-6.52 0 3.26 3.26 0 1 0 6.52 0m-50.286-23.762c0 3.09 2.5 5.59 5.586 5.59 3.09 0 5.59-2.5 5.59-5.59s-2.5-5.59-5.59-5.59a5.59 5.59 0 0 0-5.586 5.59M453.957 191.87c0-1.8-1.46-3.262-3.262-3.262a3.262 3.262 0 0 0 0 6.524 3.265 3.265 0 0 0 3.262-3.262m23.125 30.902a3.26 3.26 0 1 0 6.52 0 3.26 3.26 0 1 0-6.52 0m133.168-2.793a3.263 3.263 0 0 0 0-6.523 3.262 3.262 0 0 0 0 6.523m-76.98-37.273a3.262 3.262 0 0 0 0-6.523 3.263 3.263 0 0 0 0 6.523m-55.41 58.86a4.114 4.114 0 0 0 4.113 4.113 4.11 4.11 0 0 0 4.109-4.114 4.114 4.114 0 0 0-4.11-4.117 4.114 4.114 0 0 0-4.113 4.117m91.78-89.946a4.114 4.114 0 0 0-8.226 0 4.114 4.114 0 0 0 4.113 4.117 4.117 4.117 0 0 0 4.114-4.117m0 0"></path>
                        </g>
                        <g clip-path="url(#aa50613d-3747-47b0-accc-d365346a9e14_comp-m7ks0cjd)">
                            <g clip-path="url(#72532285-a745-4d69-b5ed-f37303d356ea_comp-m7ks0cjd)">
                                <g clip-path="url(#124be649-363f-4f2f-ba48-b25cfd493cf3_comp-m7ks0cjd)">
                                    <g clip-path="url(#afe11a9c-7b4b-429d-bc54-eff784fdfd66_comp-m7ks0cjd)">
                                        <g clip-path="url(#3a773086-5db5-48fa-8654-8aaf43632960_comp-m7ks0cjd)">
                                            <path d="M448.047 457.8c.058.036.058.036.121.071a2.4 2.4 0 0 1 .227-.664c.406-.762.703-1.547 1.109-2.309.383-.855.726-1.652 1.027-2.433.367-.902.688-1.793 1.02-2.637 2.09-5.687 2.933-10.344 2.531-13.816-.55-4.594-1.168-7.91-1.793-9.914-1.277-4.098-3.316-7.649-6.082-10.703-4.14-4.457-8.805-7.067-13.969-7.93-5.168-.863-9.976-.559-14.5.828a37 37 0 0 0-6.226 2.59 120 120 0 0 1-5.121-13.778c-1.118-3.488-2.055-7.074-2.914-10.726 5.507-4.57 11.128-9.469 16.91-14.715a199 199 0 0 0 16.039-16.297c4.937-5.578 8.8-11.226 11.703-16.875 2.844-5.887 4.078-10.594 3.754-14.137s-.766-6.199-1.317-7.918c-.87-2.746-2.152-5.132-3.902-7.195-2.887-3.324-6.055-5.215-9.488-5.625-3.434-.41-6.446-.176-9.051.656-2.332.711-4.695 1.887-7.207 3.454-6.793 4.652-12.082 10.625-15.785 17.843-3.703 7.22-6.11 15.157-7.168 23.801-1.11 8.656-1.082 17.418.035 26.297a10 10 0 0 0-.867.73c-.457.372-.88.684-1.29 1.043-.503.383-.995.817-1.546 1.211-.797.614-1.582 1.274-2.426 1.899l-4.207 3.367c-.574.504-1.16.96-1.734 1.465-1.203.969-2.352 1.976-3.512 2.933-4.613 3.934-9.027 7.86-13.227 11.832-8.039 7.602-14.437 15.88-19.148 24.825-3.848 7.812-6.047 15.394-6.637 22.754-.59 7.363.067 14.093 1.942 20.105.28.883.566 1.766.894 2.637q3.785 10.119 12.39 16.71c5.68 4.356 12.958 6.934 21.763 7.653 1.574 4.273 3.921 8.043 6.902 11.344 3.015 3.242 6.832 5.87 11.367 7.804.11.024.156.012.25-.015l.14-.035c.083-.07.165-.145.141-.239a3 3 0 0 1-.05-.187c-.024-.094-.082-.129-.204-.2-.296-.175-.546-.359-.785-.5-.238-.14-.465-.23-.582-.3-.12-.07-.238-.14-.347-.16l-.414-.246c-.075-.082-.18-.106-.297-.172-6.293-4.399-10.637-10.016-12.965-16.965 9.164-.031 17.57-1.227 25.062-3.594a63.4 63.4 0 0 0 14.414-6.547c9.836-6.11 17.657-14.152 23.364-24.117a47 47 0 0 0 1.156-2.117c.234-.262.375-.5.5-.785m-47.024-108.679c.856-8.086 3.04-15.512 6.489-22.36 3.398-6.84 8.457-12.347 15.125-16.511 1.96-1.172 3.808-2.008 5.527-2.559 2.285-.699 4.39-.949 6.344-.605 3.41.52 5.812 1.805 7.183 3.762 1.372 1.96 2.278 3.687 2.766 5.172.578 1.816.848 3.808.8 5.937-.027 3.941-1.28 7.996-3.75 12.223-3.112 5.05-8.027 10.722-14.73 17.062-6.703 6.344-15.218 13.664-25.574 22.024-.992-8.004-1.082-16.043-.18-24.145m-22.163 140.62c-8.507-2.46-14.328-5.824-17.507-10.078-3.196-4.305-5.32-8.184-6.403-11.73-.969-3.122-1.476-6.414-1.601-9.961-.286-7.434 1.214-14.985 4.484-22.696 3.598-8.199 9.059-15.828 16.262-22.957s15.289-14.336 24.3-21.687c.657-.574 1.372-1.117 2.063-1.75a137 137 0 0 0 2.625 9.64c1.496 4.75 3.277 9.426 5.293 14.036a47.6 47.6 0 0 0-11.523 10.074 76 76 0 0 0-8.383 12.43c-4.625 8.316-7.844 17.375-9.746 27.046-1.864 9.813-1.832 18.973.136 27.633m64.809-31.347c-.488.832-1.023 1.68-1.508 2.511-4.113 6.422-8.914 11.762-14.469 16.137-6.902 5.39-14.05 9.277-21.507 11.586l-1.403.418c-7.922 2.277-15.414 2.726-22.46 1.398-1.91-8.82-1.958-18.03-.009-27.715 1.95-9.683 4.84-18.453 8.723-26.324 1.746-3.734 4.172-7.547 7.215-11.515 3.043-3.973 6.773-7.422 11.059-10.309 4.144 8.895 9.222 16.938 15.242 24.129 4.625 5.539 9.726 10.2 15.281 14.086.813.594 1.715 1.164 2.563 1.7.843.534 1.69 1.065 2.57 1.542-.38.856-.832 1.629-1.297 2.356m2.5-4.688-.18-.105c-.843-.532-1.75-1.102-2.558-1.696-6.387-4.375-12.078-9.738-17.02-16.101a112.4 112.4 0 0 1-13.988-22.996 39 39 0 0 1 4.789-1.91c4.242-1.313 8.328-1.676 12.309-1.11 5.554.813 9.93 2.895 13.148 6.133 3.215 3.238 5.394 6.75 6.586 10.52.562 1.765.953 3.628 1.223 5.624.687 5.516-.34 11.782-3.114 18.707-.367.903-.746 1.758-1.113 2.66a.5.5 0 0 1-.082.274m0 0"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                        <g clip-path="url(#a12255bb-f727-4b3f-b1f6-b285bb286e07_comp-m7ks0cjd)">
                            <g clip-path="url(#d6bf6099-64c4-4200-9651-d23c841b8629_comp-m7ks0cjd)">
                                <g clip-path="url(#3fd43732-d6f5-4a17-b20c-381dafec034b_comp-m7ks0cjd)">
                                    <g clip-path="url(#ad928a65-a8c4-4898-80a1-9cf1ddde48fd_comp-m7ks0cjd)">
                                        <g clip-path="url(#b4cc3c3e-d372-490a-9547-d363d1e43cde_comp-m7ks0cjd)">
                                            <path d="M389.598 382.453q-.928.774-1.86 1.547"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                        <path d="M571.18 526.137q-2.66 0-5.203.219-2.548.222-4.657 1.218-2.096 1.003-3.312 3.328-1.22 2.314-1.219 6.297v42.5q-5.754 5.316-13.172 9.64-7.407 4.315-15.828 7.532a99.5 99.5 0 0 1-17.375 4.86c-5.98 1.101-11.918 1.656-17.812 1.656q-22.362 0-38.078-7.078c-10.481-4.72-19.008-10.914-25.579-18.594q-9.843-11.514-14.39-26.344c-3.024-9.883-4.531-19.922-4.531-30.11q-.001-18.152 6.296-33.64 6.311-15.497 17.485-26.781 11.185-11.297 26.578-17.719c10.258-4.281 21.516-6.422 33.766-6.422 3.093 0 6.335.11 9.734.328q5.091.33 11.062 1.547 5.984 1.22 13.172 3.547c4.801 1.555 10.227 3.656 16.282 6.313 0-1.477-.04-2.88-.11-4.204a72 72 0 0 1-.11-3.984h2.657q.656 11.284 1.328 20.14.218 3.768.547 7.313.328 3.534.563 6.406.216 3.33.437 6.422h-2.656l-1.328-10.187q-3.329-6.187-8.203-11.828-4.864-5.654-11.5-9.86c-4.43-2.8-9.375-5.05-14.844-6.75q-8.19-2.544-17.922-2.546c-9 0-17.305 1.843-24.906 5.53q-11.392 5.531-19.813 15.938c-5.605 6.938-9.996 15.54-13.172 25.797q-4.751 15.376-4.75 34.86 0 22.58 5.86 37.75c3.906 10.105 8.882 18.218 14.937 24.343q9.076 9.188 19.922 13.172 10.858 3.984 21.031 3.985 14.17.002 23.14-3.641c5.977-2.438 10.626-5.352 13.938-8.75q4.98-5.093 6.75-10.297c1.188-3.469 1.782-6.305 1.782-8.516V537.2q-.001-7.296-3.875-9.172c-2.586-1.257-6.016-1.89-10.297-1.89h-5.313v-2.656h58.89v2.656Zm0 0"></path>
                        <path d="M349.92 382.97v-2.656h7.75q1.547.001 3.422-.11a11.3 11.3 0 0 0 3.547-.765 6.8 6.8 0 0 0 2.765-2q1.11-1.324 1.11-3.985-.001-.89-.547-3.093-.55-2.215-2.438-7.97-1.875-5.764-5.531-16.28a5171 5171 0 0 1-9.625-28h-56.672l-7.75 19.922a770 770 0 0 1-3 7.859 296 296 0 0 0-3.203 8.75c-1.031 2.95-1.883 5.75-2.547 8.406q-1.001 3.985-1 6.64-.002 5.316 2.328 7.532 2.328 2.203 5.422 3.094h9.969v2.656h-43.172v-2.656h6.64q3.094-2.217 6.532-6.64c2.289-2.946 4.875-7.188 7.75-12.72q4.31-8.31 9.734-20.921 5.42-12.624 12.516-31L313.17 257q3.106-7.968 6.312-16.593a801 801 0 0 1 6.75-17.485h5.313l54.906 143a62 62 0 0 0 2.438 5.531 17.8 17.8 0 0 0 3.312 4.657q1.998 1.986 4.875 3.093c1.914.743 4.352 1.11 7.313 1.11h3.984v2.656Zm-28.11-140.578a9312 9312 0 0 0-13.609 36.422q-6.534 17.596-13.625 36.64h54.688Zm0 0"></path>
                    </g>
                </svg>
            </picture>
        </div>
        <h1><span>Amelia</span> <span class="and">&</span> <span>Gerardo</span></h1>
        <div class="text">
            <div class="bar"></div>
            <h2 class="our-wedding">NUESTRA BODA</h2>
            <h2 class="date">12 · 10 · 25</h2>
            <p class="location">Guayas, Guayaquil</p>
        </div>
        <MusicControl/>
    </div>

    <style>
        header {
            width: 100%;
            height: 100vh;
            overflow: hidden;
            position: relative;

            .main-container {
                display: grid;
                justify-content: center;
                grid-template-rows: 30vh 30vh 30vh 10vh;
                width: 100%;
                max-width: 48rem;
                margin: 0 auto;
                height: 100%;
                align-items: center;
                text-align: center;

                .text {
                    text-align: center;
                    font-weight: 300;
                    font-family: "Cormorant", serif;
                    color: var(--gray);
                    margin: calc(1.125rem + -2vh) 0;

                    h2 {
                        margin: 0;
                        font-size: calc(.75rem + 4vw);
                    }

                    .bar {
                        width: 60%;
                        height: 1px;
                        background-color: var(--gray);
                        margin: 0 auto calc(1.125rem + 2vh);
                        align-self: center;
                        opacity: 0.5;
                    }

                    p {
                        font-size: calc(0.5rem + 4vw);
                        font-weight: 300;
                        margin: 0 auto;
                    }
                    
                    .date {
                        font-size: calc(2.25rem + 4vw);
                        font-weight: 400;
                        margin: 0.5rem auto;
                    }

                }
            }

            h1 {
                font-family: "Salty", sans-serif;
                font-size: calc(5rem + 4vw);
                font-weight: 400;
                width: 60%;
                height: auto;
                display: block;
                text-align: center;
                margin: calc(2.5rem + 2vh) auto 0;
                line-height: 3rem;

                .and {
                    font-size: calc(3rem + 4vw);
                    font-weight: 400;
                }
            }

        }
        .pics {
            display: grid;
            position: relative;
            grid-auto-rows: 15vh;
            width: 100%;
            height: 100%;

            .plant {
                width: 130%;
                height: auto;
                position: absolute;
                left: -8rem;
                top: 18vh;
            }

            .logo-container {
                width: 6.5rem;
                height: auto;
                position: absolute;
                margin: 0;
                right: 5vw;
                top: 5vh;


                .logo {
                    width: 100%;
                    height: auto;
                }
            }

        }

        @media (width >= 768px) {
            header {
                height: 100%;

                .main-container {

                    h1 {
                        font-size: 10rem;
                        line-height: 4rem;
                        width: 50%;
                        margin: 10vh auto 0;

                        .and {
                            font-size: 5rem;
                        }
                    }

                    .text {
                        
                        .bar {
                            width: 40%;
                            margin: 0 auto 2rem;
                        }

                        h2 {
                            font-size: 2.5rem;
                        }

                        .date {
                            font-size: 3.5rem;
                        }

                        p {
                            font-size: 2rem;
                        }
                    }
                }
            }

            .pics {

                .plant {
                    margin-left: -15rem;
                    bottom: -12rem;
                }

                .logo-container {
                    width: 9rem;
                }
            }
        }
    </style>
