---

interface Props {
    id: string,
    text: string
}

 const { id, text } = Astro.props

---

<div>
    <span id={ id } class="number">00</span>
    <span class="date-text">{ text }</span>
</div>

<style>
    div {
        color: currentColor;
        font-family: "Bebas Reg", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span.number {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem 0;
            font-variant-numeric: tabular-nums;
            font-size: calc(1rem + 1vw);
        }

        span.date-text {
            font-size: calc(0.875rem + 1vw);
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }
    }

     @media (width >= 768px) {
        .number {
            font-size: 2rem;
        }

        #date-text {
            font-size: 1.5rem;
        }


    }
</style>