---
import GallerySeda from "./GallerySeda.astro";
import LocationItemSeda from "./LocationItemSeda.astro";


---

<section>
    <div class="location-container">
        <LocationItemSeda
            src="/assets/church.png"
            alt="Seda Ceremony Location"
            hour="03:00pm"
            title="Ceremonia"
            location="IGLESIA SAN JOSEMARÍA ESCRIVÁ DE BALAGUER"
            address="José María Escrivá 550, Colinas de San Javier, 44660 Guadalajara, Jal."
            href="https://maps.app.goo.gl/8CRz77PL9duMYHwH7"
            textBtn="Ver Mapa"
        />
        <div class="separator"></div>
        <LocationItemSeda
            src="/assets/cups.png"
            alt="Seda Reception Location"
            hour="04:30pm"
            title="Recepción"
            location="HOTEL HACIENDA LA MAGDALENA"
            address="Carr a Colotlán 1701-Km 1.7, 45200 La Magdalena, Jal."
            href="https://g.co/kgs/ebyzzZf"
            textBtn="Ver Mapa"
        />
    </div>
    <picture>
        <img class="tweek" src="/assets/tweek.png" alt="Rama">
        <GallerySeda />
    </picture>
</section>

<style>

    section {
        width: 100%;
        max-width: 48rem;
        margin: 0 auto;
        overflow: hidden;
    }
    .location-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;

        .separator {
            width: 100%;
            height: 3rem;
        }
    }
    picture {
        width: 100%;
        display: block;
        aspect-ratio: 3 / 4;
        position: relative;
        margin-top: 5rem;
        .tweek {
            position: absolute;
            right: calc(-2.5rem - 1vw);
            top: calc(-5rem - 5vh);
            width: 65%;
            max-width: 15rem;
            aspect-ratio: 16 / 9;
            z-index: 2;
        }
    }

    @media (width >= 768px) {
        section {

            .separator {
                display: none;
            }
        }
    }
</style>