
<section>
    <h2 class="our-parents-title">Nuestros padres</h2>
    <div class="parents groom">
        <h2>Novia</h2>
        <h3>Carlos Ramírez</h3>
        <h3>Carolina Gutierrez</h3>
    </div>
    <div class="parents bride">
        <h2>Novio</h2>
        <h3>Ricardo Lara</h3>
        <h3>Lorena Castellanos</h3>
    </div>
</section>

<style>

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        text-align: center;
        font-family: "Salty", sans-serif;
    }
    
    .our-parents-title {
        font-size: calc(2.5rem + 4vw);
        font-weight: 300;
        margin: 0;
        color: currentColor;
    }
    
    .parents {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        text-align: center;
        color: var(--gray);
        
        h2 {
            font-size: calc(1.5rem + 4vw);
            margin: 0;
        }
        
        h3 {
            font-family: Cormorant, serif;
            font-size: calc(1rem + 3vw);
            font-weight: 300;
            margin: 0;
        };

    }
</style>