<article>
    <picture class="up">
        <img src="/assets/our-parents-tweek-down.png" alt="">
    </picture>
    <div class="text-container">
        <span class="initial-quote">“</span>
        <p>Fantasía ven a mí<br>conquistarte quiero yo, juventud<br>un misterio vas a descubrir</p>
        <span class="final-quote">”</span>
        <div class="over"></div>
    </div>
    <picture class="down">
        <img src="/assets/quote-tweek-down.png" alt="">
    </picture>
</article>

<style>
    article {
        overflow: hidden;
    }
    
    .text-container {
        padding: 2.5rem 0;
        text-align: center;
        position: relative;
        color: var(--gray);
        display: grid;
        gap: 1.5rem;
        width: 100%;
        height: max-content;

        span {
            font-family: "Fleur", serif;
            font-size: calc(6rem + 4vw);
            position: relative;
            top: 2rem;
            line-height: 0;
            margin: 0;
        }

        span, p {
            z-index: 1;
        }

        p {
            font-size: calc(.5rem + 2.5vw);
            list-style: 2rem;
            font-family: "Montse", sans-serif;
            font-weight: 600;
            line-height: 2rem;
            letter-spacing: 1px;
        }

        .final-quote {
            position: relative;
            bottom: 1rem;
        }

        .over {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            z-index: 0;
            background-color: rgba(101, 101, 101, 0.3);
        }
    }

    picture {
        width: 50%;
        height: auto;
        position: relative;
        display: block;
        z-index: 1;
        
        img {
            width: 100%;
            height: auto;
        }
    }
    
    picture.up {
        right: calc(-13rem - 3vw);
        bottom: -1rem;
        
        img {
            margin: 0 -1rem -.5rem 0;
        }
    }

    picture.down {
        width: 60%;
        aspect-ratio: 16 / 9;

        svg {
            position: absolute;
            top: -2rem;
            left: -2.5rem;
        }
    }

    @media (width >= 768px) {
        picture.up {
            max-width: 20rem;
            right: -30rem;
        }

        .text-container {

            .initial-quote, .final-quote {
                font-size: 10rem;
            }

            p {
                font-size: 1.5rem;
                line-height: 3rem;
            }
        }
        
        picture.down {
            width: 40%;
            top: -2rem;
            left: -2rem;
        }
    }
</style>