<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Component Book 📚</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>

	:root {
		--gray: #656565;
		--white: #ffffff;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	@font-face {
		font-family: "Salty";
		src: url("fonts/SaltyFeathers.woff") format("woff");
	}
	@font-face {
		font-family: "Cormorant";
		src: url("fonts/CormorantGaramond.woff") format("woff");
	}
	@font-face {
		font-family: "Bebas Reg";
		src: url("fonts/BebasNeue-Regular.woff2") format("woff2");
	}
	@font-face {
		font-family: "Fleur";
		src: url("fonts/FleurDeLeah-Regular.woff") format("woff");
	}
	@font-face {
		font-family: "Montse";
		src: url("fonts/Montserrat.woff") format("woff");
	}
</style>
